.logo{
    font-size: 40px;
    font-weight: 500;
}

.nav-link{
    font-size: 18px;
    color: #212934;
}
.iconos i{
    width: 29px;
}

.card{
    border: 0;
}

.tarjeta {
    position: relative;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
}

.tarjeta-encabezado {
    background: linear-gradient(135deg, #ccc 50%, transparent 50%);
    height: 80px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.perfil {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 4px solid #7e7e7e;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}


.social-icons a {
    color: #ff9000;
    margin: 0 5px;
    font-size: 20px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #ff6600;
}


/* Estilos Jennifer */

.title-stylish {
    color: #000; 
    font-family: 'Arial', sans-serif; 
    font-weight: bold;  
    letter-spacing: 2px;  
}

.card-body:hover {
    background-color: #f8f9fa; 
    transition: background-color 0.3s ease;
}

.btn-custom {
    background-color: rgb(62, 60, 60); 
    color: white; 
    border: 2px solid rgb(62, 60, 60); 
    padding: 6px 19px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
}


.btn-custom:hover {
    background-color: white; 
    color: rgb(62, 60, 60); 
    border: 2px solid rgb(62, 60, 60); 
}


/* Estilos del corazón */
.heart-container {
    margin-top: 10px;
    cursor: pointer;
}

.heart-container .fa-heart {
    color: gray; 
    font-size: 24px;
    transition: color 0.3s ease;
}

.heart-container .fa-heart.liked {
    color: rgb(247, 124, 144); 
}

.notification {
    position: fixed;
    bottom: -100px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #1c1e20;
    color: white;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: block;
    opacity: 0;
    transition: bottom 0.5s ease-in-out, opacity 0.5s ease-in-out;
    z-index: 1000;
}

.notification.show {
    bottom: 20px;
    opacity: 1;
}

.notification a {
    color: white;
    font-weight: bold;
    margin-left: 10px;
    text-decoration: none;
}

.notification a:hover {
    text-decoration: underline;
}

.floating-button {
    position: fixed;
    right: 20px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: none;
}


.scroll-top {
    bottom: 90px; 
    background-color: #05589b; 
    color: white;
    display: none; 
    z-index: 1000; 
}


.scroll-top i {
    font-size: 20px; 
}


.scroll-top:hover {
    background-color: #1f2122;
    transform: scale(1.1);
}


.whatsapp-float {
    bottom: 20px;
    background-color: rgb(206, 240, 199);
    border: 2px solid #237140; /* Borde verde WhatsApp */
    z-index: 1000;
}

.whatsapp-float img {
    width: 50px; 
    height: 50px;
}

.whatsapp-float:hover {
    transform: scale(1.1);
    background-color: rgb(63, 232, 119);
}



.card-img-top1:hover {
    content: url("https://shop-cons.com/cdn/shop/files/IMG-2632_300x.jpg?v=1734447515");
}

.card-img-top2:hover {
    content: url("https://shop-cons.com/cdn/shop/files/0R0A1463_300x.jpg?v=1734132860");
}

.card-img-top3:hover {
    content: url("https://shop-cons.com/cdn/shop/files/0R0A1375_300x.jpg?v=1734130852");
}

.card-img-top4:hover {
    content: url("https://shop-cons.com/cdn/shop/files/0R0A0999_300x.jpg?v=1734130888");
}

.card-img-top5:hover {
    content: url("https://shop-cons.com/cdn/shop/files/IMG-2624_300x.jpg?v=1734447152");
}

.card-img-top6:hover {
    content: url("https://shop-cons.com/cdn/shop/files/BO2A2386_400x.jpg?v=1734184512");
}

.card-img-top7:hover {
    content: url("https://shop-cons.com/cdn/shop/files/0R0A0583_400x.jpg?v=1726255077");
}

.card-img-top8:hover {
    content: url("https://shop-cons.com/cdn/shop/files/0R0A1457_400x.jpg?v=1726258407");
}

.card-img-top9:hover {
    content: url("https://shop-cons.com/cdn/shop/files/0R0A7802_300x.jpg?v=1726253414");
}